# URL where the Symfony application is running.
# Default: http://localhost:80
# Default works for production.
# In local, you need the docker compose container name of the Symfony app (which is set in compose.yaml).
GO_SYMFONY_URL=

# Storage backend for email contents.
# One of: file, s3
FILESYSTEM=file

# Only required when FILESYSTEM=s3.
S3_ENDPOINT=
S3_REGION=
S3_KEY=
S3_SECRET=
S3_BUCKET=
